*{
    font-family:Helvetica,sans-serif;
}

.navbar-brand{
  color: #fff !important;
  background-color: #0C28A6 !important;
  border: none;
}

#header{
    background-color: #f1f3ff;
}

.pl-7rem{
    padding-left: 4rem;
}
.jumbotron {
    background-color: #f1f3ff;
  }

 .item{
    background-color: #f1f3ff;
    width: 100%;
    max-width: 550px;
    min-width: 250px;
    margin-right: 10px; 
    background-size: 200px 100px;
    
    /* background-image:url(public/OwlCarousel2/img/Leftbutton.png); */
    border-radius: 10px;
    box-shadow: 10px;
} 
.btn-cari{
  background:  #5CB85F;;
  color: #fff;
  height: 38px;
  width: 300px;
  border: none;
  margin-top: 26px;
  margin-left: auto;
  border-radius: 3px;
}
/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1f3ff;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    z-index: 20;
  }
  
  .sidebar a {
    /* padding: 5px 8px 8px 22px; */
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    /* color: #818181; */
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    /* color: #f1f1f1; */
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f1f3ff;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

/* Select box */
  .form-box{
    /* background: #7b7b7b; */
    padding: 10px 60px;
    margin-left: 40px;
  }
  .search-bar{
    display: flex;
    justify-content: center;
  }
  .search-bar div{
    padding-left: 15px;
    
  }
  .search-btn{
    background: green;
    color: #fff;
    height: 38px;
    width: 100px;
    border: none;
    margin-top: 27px;
    /* border-radius: 7px; */
  }
  .search-btn:hover{
    background: green;
  }
  .label{
    text-size-adjust: 10px;
  }

  .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .filter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

.btn-rent-car {
  background-color: #5cb85f;
  color: white;
  margin-top: 25px;
  padding: 8px 12px;
  min-width: 150px;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #5cb85f;
  transition: 0.3s ease-in-out;
}

.btn-select-car {
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
  padding: 8px 10px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  min-width: 150px;
}

.cars-container img {
  height: 30vw;
  object-fit: cover;
}
